*{
  margin: 0%;
  padding: 0%;
}
.country-list{
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container{
  display: flex;
  
}
.country-details{
 margin-left: 5%;
}